$background-color: black;
$color1: yellow;
$color2: white;

@font-face {
  font-family: 'bpdotsbold';
  src: url('BPdotsBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes swing {
  0%, 100% { transform: rotate(-10deg); }
  20% { transform:scale(.95); }
  50% { transform:rotate(10deg); }
  80% { transform:scale(.95); }
}

body {
  background-color: $background-color;
  height: 100%;
}

.homepage {
  text-align: center;
}

.homepageimage {
  width: 300px;
  margin-top: 30px;
  border: 20px solid $color2;
  border-radius: 50%;
  animation: swing 4s infinite ease-in-out;
  margin-bottom: 300px;
}

nav a{
  text-decoration: none;
  color: $color2;
  margin: 20px;
}

nav a:hover {
  color: $color1
}

nav {
  padding-top: 20px;
}


.headings {
  font-family: 'Questrial', sans-serif;
  color: $color2;
}

.boardtext {
  color: $color1;
  font-family: 'bpdotsbold';
  font-size: 17px;
}

.homesub {
  font-family: 'Questrial', sans-serif;
  color: $color1;
}

#headerlogo {
  width: 100px;
}
.homePageHeader {
  display: inline-block;
}

main {
  min-height: 100vh;
}

.station-column {
  border: 1px solid white;
  margin: 2px;
  padding-top: 30px!important;
  padding-bottom: 30px!important;
}

.column {
  padding: 0px 20px 0 20px;
}

select {
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
}

.section {
  padding-top: 10px;
}

.lines {
  border-bottom: 1px solid white;
}


@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');


*, *:before, *:after {
	margin: 0;
	padding: 0;
	word-break: break-all;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	color: #6e6e6e;
	font-size: 1.6rem;
}

header, footer {
  display: block;
}

a, a:link, a:visited {
  color: lighten(black, 30);
  text-decoration: none;
}

img {
	border: 0;
}

ul {
	list-style: none;
}


.bridge {
  border-bottom: 0.3rem solid white;
  border-top: 0.3rem solid white;
  background: black;
  background: -webkit-linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, -webkit-linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  background: -moz-linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, -moz-linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  background: -o-linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, -o-linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  background: -ms-linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, -ms-linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  background: linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
  bottom: 10rem;
  height: 2.6rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.train {
  animation: move-train 24s linear infinite;
  bottom: 12.6rem;
  height: 10rem;
  position: absolute;
  left: calc(100% + 1.3rem);
  width: 44rem;
  z-index: 1;
}

%engine-front-styles {
  background: lighten(yellow, 6);
  background: linear-gradient(0deg, lighten(black, 6), lighten(black, 15), lighten(black, 6));
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  border-radius: 50% 0 0 50%;
  border-right: none;
}

.engine-front {
  @extend %engine-front-styles;
  animation: body-upDown 0.3s infinite;
  border-radius: 0.5rem 0 0 0.5rem;
  bottom: 1.4rem;
  height: 4.6rem;
  left: 0;
  position: absolute;
  width: 8rem;

  &::before, &::after { // Engine large nose
    @extend %engine-front-styles;
    content: "";
    position: absolute;
    height: 70%;
    left: -0.9rem;
    top: 50%;
    transform: translate(0, -50%);
    width: 0.8rem;
  }

  &::after { // Engine front small nose
    height: 40%;
    left: -1.4rem;
    width: 0.5rem;
  }
}

.chimney {
  background: darken(yellow, 20);
  height: 2.2rem;
  left: 2.5rem;
  position: absolute;
  top: -2.3rem;
  width: 1.7rem;

  &::before, &::after {
    content: "";
    position: absolute;
  }

  &::before { // Chimney top cover
    animation: up-down 0.3s infinite;
    border-bottom: none;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.8rem solid orange;
    left: 50%;
    top: -0.9rem;
    transform: translate(-50%, 0);
    width: 160%;
  }
}

.smoke {
  animation: move-smoke 0.4s linear infinite;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  height: 1.4rem;
  left: 0.2rem;
  position: absolute;
  top: -1.5rem;
  width: 0.8rem;
  z-index: -1;

  &-2 {
    animation-delay: 0.1s;
    left: 0.4rem;
  }

  &-3 {
    animation-delay: 0.2s;
    left: 0.6rem;
  }

  &-4 {
    left: 0.8rem;
  }
}

.engine-body {
  animation: body-upDown 0.3s 0.1s infinite;
  background: darken(yellow, 15);
  background: linear-gradient(0deg, darken(yellow, 40), yellow, darken(yellow, 20));
  border-radius: 0 0 0.4rem 0;
  bottom: 1.4rem;
  height: 7rem;
  left: 8rem;
  position: absolute;
  width: 5rem;

  &::before, &::after {
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }

  &::before { // Engine body shade
    animation: up-down 0.3s 0.2s infinite;
    background: darken(yellow, 30);
    background: linear-gradient(0deg, darken(yellow, 30), darken(yellow, 20), darken(yellow, 30));
    border-radius: 50% 50% 0 0;
    height: 1.2rem;
    top: -1.2rem;
    width: 130%;
  }

  &::after { // Engine body window
    background: lighten(skyblue, 10);
    border-radius: 0.2rem;
    height: 40%;
    top: 1rem;
    width: 45%;
  }
}

%wheel-inside-styles {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wheel-holder {
  height: 2.8rem;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.wheel {
  animation: rotate 2s linear infinite;
  background: orange;
  border: 0.3rem solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  height: 2.8rem;
  left: 1rem;
  position: absolute;
  width: 2.8rem;

  &-2 {
    left: 4.5rem;
    z-index: 1;
  }

  &-3 { // Large wheel
    border-width: 0.5rem;
    height: 3.8rem;
    left: 8.7rem;
    top: -1.1rem;
    width: 3.8rem;
  }

  &-4 {
    left: 15.7rem;
  }

  &-5 {
    left: 19.5rem;
  }

  &-6 {
    left: 25.7rem;
  }

  &-7 {
    left: 29.5rem;
  }

  &-8 {
    left: 35.7rem;
  }

  &-9 {
    left: 39.5rem;
  }

  &::before, &::after {
    content: "";
    position: absolute;
  }

  &::before { // Wheel inside line
    @extend %wheel-inside-styles;
    background: rgba(0, 0, 0, 0.3);
    height: 86%;
    width: 0.2rem;
  }

  &::after { // Wheel inside circle
    @extend %wheel-inside-styles;
    background: darken(orange, 20);
    background: -webkit-radial-gradient(circle at center, darken(orange, 15) 30%, darken(orange, 20) 30%);
    background: -moz-radial-gradient(circle at center, darken(orange, 15) 30%, darken(orange, 20) 30%);
    background: -o-radial-gradient(circle at center, darken(orange, 15) 30%, darken(orange, 20) 30%);
    background: -ms-radial-gradient(circle at center, darken(orange, 15) 30%, darken(orange, 20) 30%);
    background: radial-gradient(circle at center, darken(orange, 15) 30%, darken(orange, 20) 30%);
    border-radius: 50%;
    height: 40%;
    width: 40%;
  }
}

.compartment {
  animation: body-upDown 0.3s infinite;
  background: darken(yellow, 40);
  background: -webkit-linear-gradient(darken(yellow, 50) 50%, darken(yellow, 30));
  background: -moz-linear-gradient(darken(yellow, 50) 50%, darken(yellow, 30));
  background: -o-linear-gradient(darken(yellow, 50) 50%, darken(yellow, 30));
  background: -ms-linear-gradient(darken(yellow, 50) 50%, darken(yellow, 30));
  background: linear-gradient(darken(yellow, 50) 50%, darken(yellow, 30));
  border-radius: 0 0 0.3rem 0.3rem;
  bottom: 1.4rem;
  height: 5rem;
  left: 15rem;
  position: absolute;
  width: 8rem;

  &-two {
    animation: body-upDown 0.3s 0.1s infinite;
    left: 25rem;

    .compartment-window {
      &::before { // Compartment-two shade
        animation: up-down 0.3s 0.3s infinite;
      }
    }
  }

  &-three {
    animation: body-upDown 0.3s 0.2s infinite;
    left: 35rem;

    .compartment-window {
      &::before { // Compartment-three shade
        animation: up-down 0.35s infinite;
      }
    }
  }

  &::before, &::after { // Compartment joints
    background: black;
    border: 0.4rem solid transparent;
    bottom: 0.4rem;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    content: "";
    height: 0.8rem;
    position: absolute;
    width: 0.9rem;
  }

  &::before { // right joint
    border-left: 0.4rem solid rgba(255, 255, 255, 0.3);
    left: -0.9rem;
  }

  &::after { // left joint
    border-right: 0.4rem solid rgba(255, 255, 255, 0.3);
    left: -2rem;
  }
}

.compartment-window {
  background: darken(skyblue, 30);
  background: -moz-linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/2.4rem 100%;
  background: -webkit-linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/2.4rem 100%;
  background: -o-linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/2.4rem 100%;
  background: -ms-linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/2.4rem 100%;
  background: linear-gradient(90deg, transparent 0.8rem, skyblue 0.8rem) left/2.4rem 100%;
  height: 40%;
  position: absolute;
  top: 0.7rem;
  width: 100%;

  &::before, &::after {
    content: "";
    position: absolute;
  }

  &::before { // Compartment shade
    animation: up-down 0.3s 0.1s infinite;
    background: darken(skyblue, 50);
    border-radius: 50% 50% 0 0;
    height: 0.6rem;
    left: 50%;
    top: -1.4rem;
    transform: translate(-50%, 0);
    width: 110%;
  }
}

@keyframes up-down {
  0%, 100% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -0.3rem);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes move-train {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1540px);
  }
}

@keyframes body-upDown {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }
}

@keyframes move-smoke {
  0% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  50% {
    -webkit-filter: blur(0.2rem);
    -moz-filter: blur(0.2rem);
    -o-filter: blur(0.2rem);
    -ms-filter: blur(0.2rem);
    filter: blur(0.2rem);
    opacity: 0.6;
    transform: translate(0, -3rem) scale(2);
  }

  100% {
    -webkit-filter: blur(0.3rem);
    -moz-filter: blur(0.3rem);
    -o-filter: blur(0.3rem);
    -ms-filter: blur(0.3rem);
    filter: blur(0.3rem);
    opacity: 0;
    transform: translate(2.5rem, -6rem) scale(3);
  }
}

.wheel-joint {
  animation: wheel-joint 2s linear infinite;
  background: white;
  border-radius: 0.6rem;
  height: 0.4rem;
  position: absolute;
  right: 0.4rem;
  top: calc(50% - 0.2rem);
  transform-origin: 100% 50%;
  width: 3.6rem;
  z-index: 1;

  &::before, &::after {
    background: lighten(black, 20);
    border: 0.1rem solid white;
    border-radius: 50%;
    content: "";
    height: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0.8rem;
  }

  &::before {
    left: -0.4rem;
  }

  &::after {
    right: -0.4rem;
  }

  &-2 {
    left: 1.8rem;
    right: auto;
    transform: rotate(-15deg);
    transform-origin: 0 50%;
    width: 4.4rem;

    &::before {
      height: 1.1rem;
      width: 1.1rem;
    }
  }
}

@keyframes wheel-joint {
  100% {
    transform: rotate(360deg);
  }
}
