@font-face {
    font-family: 'bpdotsbold';
    src: url('src/BPdotsBold-webfont.eot');
    src: url('src/BPdotsBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/BPdotsBold-webfont.woff2') format('woff2'),
         url('src/BPdotsBold-webfont.woff') format('woff'),
         url('src/BPdotsBold-webfont.ttf') format('truetype'),
         url('src/BPdotsBold-webfont.svg#bpdotsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
