$background-color: black;
$color1: yellow;
$color2: white;

@font-face {
  font-family: 'bpdotsbold';
  src: url('BPdotsBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: $background-color;
  height: 100%;
}

.homepage {
  text-align: center;
}

.homepageimage {
  width: 300px;
  margin-top: 30px;
  border: 20px solid $color2;
  border-radius: 50%;
  margin-bottom: 300px;
}

nav a{
  text-decoration: none;
  color: $color2;
  margin: 20px;
}

nav a:hover {
  color: $color1
}

nav {
  padding-top: 20px;
}


.headings {
  font-family: 'Questrial', sans-serif;
  color: $color2;
}

.boardtext {
  color: $color1;
  font-family: 'bpdotsbold';
  font-size: 17px;
}

.homesub {
  font-family: 'Questrial', sans-serif;
  color: $color1;
}

#headerlogo {
  width: 100px;
}
.homePageHeader {
  display: inline-block;
}

main {
  min-height: 100vh;
}

.station-column {
  border: 1px solid white;
  margin: 2px;
  padding-top: 30px!important;
  padding-bottom: 30px!important;
}

.column {
  padding: 0px 20px 0 20px;
}

select {
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
}

.section {
  padding-top: 10px;
}

.lines {
  border-bottom: 1px solid white;
}


@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');


*, *:before, *:after {
	margin: 0;
	padding: 0;
	word-break: break-all;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	color: #6e6e6e;
	font-size: 1.6rem;
}

header, footer {
  display: block;
}

a, a:link, a:visited {
  color: lighten(black, 30);
  text-decoration: none;
}

img {
	border: 0;
}

ul {
	list-style: none;
}
