$background-color: black;
$color1: yellow;
$color2: white;

body {
  background-color: $background-color;
  height: 100%;
}

.homepic {
  opacity: 0.50;
}

nav a{
  text-decoration: none;
  color: $color2;
  margin: 20px;
}

nav a:hover {
  color: $color1
}

nav {
  padding-top: 20px;
}

.headings {
  color: $color2;
}

.boardtext {
  color: $color1;
}
